<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="NyceOAuth2Client Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:1CyBCJwWRHOAWSL8RUcCqsM6q+7fFoB3fG0NyOyC/YQ="/>
    </php>
</phpunit>